body{
  width:95%;
  text-align: center;
  background-color: #e6e6e6;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  border: 5px solid #33ccff;
  background-color: #33ccff;
  align-self: center;
  }
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
li{
  float: left;
  border-right: 1px solid #bbb;
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.main-page-text{
  margin: 18px, 18px;
  padding: 4px 4px;
  background-color: #99ccff;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #fff;
  text-decoration: none;
}
.nav-bar-items:hover{
  color:#99ffff;
}

.flexbox-wrapper{
  display: flex;
  justify-content: : center;
  width: 90;
  margin: auto;
}
i{
  margin: 6px;
}
.main-page-text{
  font-family: 'Montserrat' sans-serif;
  line-height: 1.5em;
  text-align: center;
}
.return-to-home:hover{
  color:dodgerblue;
}
.return-to-home{
  font-family: 'Montserrat';
  text-decoration: underline;
  color:#000;
}
