.container{
  width:75%;
  margin:auto;
}
h1{
  background-color: #333;
  color:#fff;
  padding: 40px;
  border: 6px red solid;
  border-style: solid;
  border-radius: 15px;
  padding: 25px;}
h2{
  font-family: 'Montserrat'
  font-style: italic;
}
body{
  font-family: 'Montserrat', sans-serif;
  padding: 25px;
}
.article-wrapper{
  display:flex;
  flex-direction: column;
  border: 5px dodgerblue solid;
  border-radius: 5px;
  padding: 15px;
  margin:auto;
}
.main-page-articles{
  margin: auto;

}
img{
  width: auto;
  margin: 12px;
}
h3 a{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #000;
}
h3 a:hover{
  background-color:#ccff99;
}

.about-me-footer{
  text-align: center;
  font-weight: bolder;
}

#back-to-home-page{
  text-align: center;
  padding:20px;
}
#about-me-header{
  font-family: Helvetica;
  text-decoration: underline;
  background-color: #333;
  color:#fff;
  border: 5px blue solid;
  border-radius: 15px
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li{
  float: left;
  border-right: 1px solid #bbb;

}
li a{
  display:block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}
li a:hover{
  background-color: #111;
}
.main-page-text{
  margin: 20px;
  padding: 15px;
  justify-content: center;
  background-color: #99ffe6;
}
